<h1>Title: <%= @name %></h1>
<p>Company: <%= @company %></p>
<p>Genres: <%= @genres %></p>
<p>Length: <%= @length %></p>
<p>Director: <%= @director %></p>
<p>MPAA Rating: <%= @mpaa_rating %></p>
<p>Plot Synopsis: </p>
<p><%= @plot_synopsis %></p>
<p>Tagline: <%= @tagline %></p>
<p>Year: <%= @year %></p>
<p>Poster: </p>
<p><img src="<%= @poster %>" alt="<%= @name %> poster" width=400/></p>
<p>Release Date: <%= @release_date %></p>