<h1>Title: <%= @name %></h1>
<p>Company: <%=   %></p>
<p>Genres: <%=   %></p>
<p>Length: <%=   %></p>
<p>Director: <%=   %></p>
<p>MPAA Rating: <%=   %></p>
<p>Plot Synopsis: <%=   %></p>
<p>Tagline: <%=   %></p>
<p>Year: <%=   %></p>
<p>Poster: <%=   %></p>
<p>Release Date: <%=   %></p>