<h1><%= @title %></h1>
<p>Tagline: <%= @details[1] %></p>
<p>Director: <%= @details[2] %></p>
<p>Year: <%= @details[3] %></p>
<p>Released by the <%= @details[4] %> film company with an MPAA rating of <%= @details[5] %></p>
<p><img src="<%= @details[6] %>" width:350/></p>