<p><a href="/">Back to Home</a></p>
<p><a href="/new_movie">Add New Movie</a></p>
<h1><%= @title %></h1>
<h2> Year: <%=@movie_info_array[1] %></h2>
<h2> Director: <%=@movie_info_array[2] %></h2>
<h2> Tagline: <%=@movie_info_array[3] %></h2>
<img src="<%=@movie_info_array[4] %>"  width="500"/>

