<h2><%= @movie_info[0] %></h2>

<ul>
<li>Year released: <%= @movie_info[1] %></li>
<li>Director: <%= @movie_info[2] %></li>
<li>Tagline: <%= @movie_info[4] %></li>
</ul>

<a href="<%=@movie_info[3]%>"><img src="<%=@movie_info[3]%>" width=400/></a>


